/nbproject
/php/config.inc.php
/sample_data/SwissProt.xml
/sample_data/export.xml
/sample_data/baffle*
/doc
/php/apigility
.bash*
.vim*
/.gitconfig
/.ssh
/php/docStorage/*
/php/tmp/*
/build
*~
php/css/bootstrap.css
php/css/font-awesome.css
php/js/jquery.js
