<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12" ng-controller="EditorCtrl">
                <div ng-init="getToken(currentDocumentId)" ng-if="currentDocument" class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <p><b>Opened Document: {{currentDocument.name}}</b></p>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div id="grid1" style="min-height:500px;height:84vh;margin:0;padding:0;" ui-grid="gridOptions"
                                    ui-grid-resize-columns ui-grid-edit ui-grid-selection ui-grid-cellnav
                                    ui-grid-pagination ui-grid-exporter class="gridstyle"></div>
                            </div>
                            <div class="col-md-3">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="context.open">
                                        <uib-accordion-heading>
                                            Context<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': context.open, 'glyphicon-chevron-right': !context.open}"></i>
                                        </uib-accordion-heading>
                                        {{context.left}}
                                        <span style="background:#25D4D8;color:white;">{{focusedToken.token}}</span>
                                        {{context.right}}
                                    </div>
                                    <div uib-accordion-group class="panel-default" is-open="stats.open">
                                        <uib-accordion-heading>
                                            Stats<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': stats.open, 'glyphicon-chevron-right': !stats.open}"></i>
                                        </uib-accordion-heading>
                                        <select ng-change="unsetStats();generateStats(currentDocumentId,selectedStatsProperty.name,selectedStatsProperty.values,currentDocument.tokenCount);"
                                            ng-options="property.name for property in filteredProperties" ng-model="selectedStatsProperty"
                                            class="form-control" />
                                        <div class="mt-2" ng-if="selectedStatsProperty.values.length > 0">
                                            <button ng-click="sortStats('count','asc');">sort</button>
                                            <ul class="progresstracker">
                                                <li class="mb-1 statswidgetlistelement" ng-repeat="value in selectedStatsProperty.values"><span
                                                        class="progresstrack" style="width:{{statsForCurrentDoc[value].percentage}}%"></span><span
                                                        class="progresstracklabelleft">{{value}}</span><span class="progresstracklabelright">{{statsForCurrentDoc[value].percentage
                                                        || 0}} %</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div uib-accordion-group class="panel-default" is-open="batchedit.open">
                                        <uib-accordion-heading>
                                            Batch Edit<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': batchedit.open, 'glyphicon-chevron-right': !batchedit.open}"></i>
                                        </uib-accordion-heading>
                                        <div class="form-group" ng-repeat="property in batchEditProperties">
                                            <label for="propertybatcheditfield">{{property.name}}</label>
                                            <input class="form-control" type="text" id="propertybatcheditfield"
                                                ng-model="batchEditToken[property.name]" />
                                        </div>
                                        <button ng-click="assignToAll(batchEditToken)" type="submit" class="btn btn-round">Assign
                                            to all</button>
                                    </div>
                                </uib-accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>