<div class="wrapper">
    <div class="container">
        <div class="row">
                <div class="col-md-8 offset-md-2">
            <main>
            <article class="post-8 page type-page status-publish hentry">
                <h2>Imprint</h2>
                <p>
                    Legal disclosure according to §§ 24, 25 Austrian media law and § 5 E-Commerce law
                </p>
                <h3>
                    Media owner, publisher, responsible for content and editorial office, service provider:
                </h3>
                <p>
                    Austrian Academy of Sciences<br />
                    Corporate body organized under public law (BGBl 569/1921 idF BGBl I 130/2003)<br />
                    Austrian Centre for Digital Humanities (ACDH)<br />
                    Dr. Ignaz Seipel-Platz 2, 1010 Vienna, Austria<br />
                    E-Mail: <a class="helpdesk-button" href="mailto:acdh-tech@oeaw.ac.at">acdh-tech@oeaw.ac.at</a>
                </p>
                <h3>Nature and purpose of the business:</h3>

                <p>The Austrian Academy of Sciences (OEAW) has the legal duty to support the sciences and humanities in
                    every respect. As a learned society, the OEAW fosters discourse and cooperation between science and
                    society, politics and economy.
                    <br />
                    The Austrian Centre for Digital Humanities (ACDH) is an OEAW institute founded with the goal to
                    support digital methods in arts and humanities disciplines. The ACDH supports digital research in
                    manifold ways.
                    The project ... (implemented by the ACDH in cooperation with ...) is dedicated to …
                </p>
                <h3>Signing power:</h3>
                <p>
                    President: Univ.-Prof. Dr. Anton Zeilinger<br />
                    Vice president: Univ.-Doz. Dr. phil. Michael Alram<br />
                    Class presidents: Univ.-Prof. Dr. phil. Oliver Jens Schmitt, Univ.-Prof. Dipl.-Ing. Dr.techn. Georg
                    Brasseur<br />
                    Supervisory body: Academy council. For more information, please visit
                    <a target="blank" href="http://www.oeaw.ac.at/die-oeaw/gremien-der-oeaw/akademierat/">http://www.oeaw.ac.at/die-oeaw/gremien-der-oeaw/akademierat/</a>
                </p>
                <h3>Main aim:</h3>
                <p>
                    This website provides information on the project ... as well as the data and results emerging from
                    this project.
                </p>
                <h3>Disclaimer:</h3>
                <p>
                    The Austrian Academy of Sciences does not take responsibility for the nature, accuracy, entirety or
                    quality of the provided information.
                    <br />
                    In the case of links to websites of other media owners, whose content the OEAW is neither directly
                    nor indirectly responsible for, the OEAW does not assume liability for their content and excludes
                    any liability in this case.</p>

                <h3>Copyright notice:</h3>

                <p>This website and its content is, unless indicated otherwise, licensed under a creative commons CC-BY
                    4.0 International license (Attribution).
                </p>

                <h3>Data privacy notice:</h3>

                <p>This is a notice to indicate that for reasons of system security and overview of user behavior,
                    personal data of users of this website (visiting period, operating system, browser version, browser
                    resolution, country of origin, number of visits) will be stored using cookies and piwik tracking.
                    Data will be stored until further notice. Data will not be disseminated without your explicit
                    consent.
                    By using this website, you agree to the manner and purposes of data processing. You can disable
                    cookies in your browser settings. However, this might limit functionality of this website.
                    Please find the ÖAW’s detailed data privacy statement here.
                    The contact data published in the context of the imprint duty may not be used to send promotional
                    or informational material not explicitly requested. We explicitly disagree with this usage.
                </p>
                </article></main>
            </div>
        </div>
    </div>
</div>